<h3 class="sm:col-span-2 mt-4 mb-4 sm:mb-0 text-xl font-bold text-gray-900 dark:text-white">
    {{ 'Account Data'|trans }}
</h3>

<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 mt-4">
    <div class="mb-4">
        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Email'|trans }}
        </label>
        <input type="email" name="email" id="email" value="{{ utente.email }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="ruolo" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Role'|trans }}
        </label>

        <select name="ruolo" id="ruolo"
                class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
            {% for ruolo in ruoli %}
                <option value="{{ ruolo.id }}" {% if utente.getIdRuolo == ruolo.id %}selected{% endif %}>
                    {{ ruolo.nome|trans }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label for="password" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Password'|trans }}
        </label>
        <input type="password" name="password" id="password" value=""
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="password_confirm" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Confirm Password'|trans }}
        </label>
        <input type="password" name="password_confirm" id="password_confirm" value=""
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>


</div>

<hr class="my-6">

<h3 class="sm:col-span-2 sm:mb-0 text-xl font-bold text-gray-900 dark:text-white">
    {{ 'Personal Data'|trans }}
</h3>
<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 mt-4 " x-data="{ tipo_utente: '{{ utente.getAnagrafica().getTipoUtente() }}' }">
    <!-- Tipo utente: persona fisica o società -->
    <div class="mb-4">
        <label for="tipo_utente" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'User Type'|trans }}
        </label>

        <select name="tipo_utente" id="tipo_utente"
                x-model="tipo_utente"
                @change="tipo_utente = $event.target.value"
                x-init="tipo_utente = {% if utente is not null %}'{{ utente.getAnagrafica().getTipoUtente() }}'{% else %}'Persona'{% endif %}"
                class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
            <option value="Persona" {% if utente.getAnagrafica().getTipoUtente() == 'Persona' %}selected{% endif %}>
                {{ 'Person'|trans }}
            </option>
            <option value="Azienda" {% if utente.getAnagrafica().getTipoUtente() == 'Azienda' %}selected{% endif %}>
                {{ 'Company'|trans }}
            </option>
        </select>
    </div>



    <!--- Nome, Cognome, Indirizzo, Cap, città, provincia, telefono, cellulare, pec, codice_fiscale, partita_iva, note -->
    <div class="mb-4" x-show="tipo_utente == 'Persona'">
        <label for="nome" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Name'|trans }}
        </label>
        <input type="text"

               name="nome" id="nome" value="{{ utente.getAnagrafica().getNome() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div >

    <div class="mb-4" x-show="tipo_utente == 'Persona'">
        <label for="cognome" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Surname'|trans }}
        </label>
        <input type="text" name="cognome" id="cognome" value="{{ utente.getAnagrafica().getCognome() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4" x-show="tipo_utente == 'Azienda'">
        <label for="denominazione" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Company Name'|trans }}
        </label>
        <input type="text" name="denominazione" id="denominazione" value="{{ utente.getAnagrafica().getDenominazione() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="indirizzo" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Address'|trans }}
        </label>
        <input type="text" name="indirizzo" id="indirizzo" value="{{ utente.getAnagrafica().getIndirizzo() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="cap" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Postal Code'|trans }}
        </label>
        <input
                type="text"
                pattern="[0-9]{5}"
                maxlength="5"
                name="cap" id="cap" value="{{ utente.getAnagrafica().getCap() }}"
                class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="citta" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'City'|trans }}
        </label>
        <input type="text" name="citta" id="citta" value="{{ utente.getAnagrafica().getCitta() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="provincia" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Province'|trans }}
        </label>
        <input type="text" name="provincia" id="provincia" value="{{ utente.getAnagrafica().getProvincia() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="telefono" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Phone'|trans }}
        </label>
        <input type="text" name="telefono" id="telefono" value="{{ utente.getAnagrafica().getTelefono() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="cellulare" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Mobile'|trans }}
        </label>
        <input type="text" name="cellulare" id="cellulare" value="{{ utente.getAnagrafica().getCellulare() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="pec" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Certified Email'|trans }}
        </label>
        <input type="text" name="pec" id="pec" value="{{ utente.getAnagrafica().getPec() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4" x-show="tipo_utente == 'Persona'">
        <label for="codice_fiscale" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Tax Code'|trans }}
        </label>
        <input type="text" name="codice_fiscale" id="codice_fiscale" value="{{ utente.getAnagrafica().getCodiceFiscale() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none" >
    </div>

    <div class="mb-4" x-show="tipo_utente == 'Azienda'">
        <label for="partita_iva" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'VAT Number'|trans }}
        </label>
        <input type="text" name="partita_iva" id="partita_iva" value="{{ utente.getAnagrafica().getPartitaIva() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none" >
    </div>

    <div class="mb-4 sm:col-span-2">
        <label for="note" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Note'|trans }}
        </label>
        <textarea name="note" id="note" rows="4"
                  class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">{{ utente.getAnagrafica().getNote() }}</textarea>
    </div>


    <!-- Gruppo di appartenenza -->


    <div x-data="searchResults"
            data-idGruppo="[]"
            data-selectedItems="[]"
            data-entity="gruppi"
            class="relative overflow-x-auto shadow-md sm:rounded-lg sm:col-span-2 p-2.5 bg-white" >
        <div class="" >
            <!-- column for sending invite members -->
            <label for="gruppi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{ 'Groups'|trans }}
            </label>


            <!-- input for email address with icon -->
            <div class="relative">
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 items-center">
                    <input type="text"
                           x-model="query"
                           @input="performSearch"
                           @click="performSearch"
                           name="gruppi"
                           id="gruppi"
                           class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="{{ 'Name or Surname or Email or Company name'|trans }}">

                    <div x-show="searchResults.length > 0" class="sm:col-span-2 mt-1">
                        <ul class="bg-white border border-gray-300 rounded-md shadow-md">
                            <template x-for="result in searchResults" :key="result.id">
                                <li @click="selectItem(result)"
                                    x-text="result.nome"
                                    class="py-2 px-4 cursor-pointer hover:bg-gray-100">
                                </li>
                            </template>
                        </ul>
                    </div>

                    <div x-show="showNoResultsMessage"
                         class="mt-1 text-gray-500 dark:text-gray-400 text-sm italic font-bold sm:col-span-2">
                        {{ 'No results found'|trans }}
                    </div>


                </div>

            </div>

            <p class="my-2 text-sm text-gray-500 dark:text-gray-400">
                {{ 'Enter the name, surname or email of the user you want to add to the group.'|trans }}
            </p>

        </div>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">

            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    {{ 'Name'|trans }}
                </th>


                <th scope="col" class="px-6 py-3">
                    {{ 'Actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            <template x-for="gruppo in selectedItems" :key="gruppo.id">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <!-- hidden input for sending invite members -->
                    <input type="hidden" name="gruppi[]" :value="gruppo.id">
                    <td scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        x-text="gruppo.nome"></td>

                    <td class="px-6 py-4 text-right">
                        <a href="#"
                           @click.prevent="removeItem(gruppo)"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            {{ 'Remove'|trans }}
                        </a>
                    </td>
                </tr>
            </template>


            </tbody>
        </table>
    </div>



</div>

<div class="fixed right-6 bottom-6 group ">
    <button type="submit"  class="submit">
        {{ button_label|trans }}
    </button>
</div>