<h3 class="sm:col-span-2 mt-4 mb-4 sm:mb-0 text-xl font-bold text-gray-900 dark:text-white">
    {{ 'Account Data'|trans }}
</h3>

<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 mt-4">

    <div class="mb-4">
        <label for="username" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Username'|trans }}
        </label>
        <input type="username" name="username" id="username" value="{{ utente.username }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>


    <div class="mb-4">
        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Email'|trans }}
        </label>
        <input type="email" name="email" id="email" value="{{ utente.email }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="ruolo" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Role'|trans }}
        </label>

        <select name="ruolo" id="ruolo"
                class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
            {% for ruolo in ruoli %}
                <option value="{{ ruolo.id }}" {% if utente.getIdRuolo == ruolo.id %}selected{% endif %}>
                    {{ ruolo.nome|trans }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label for="password" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Password'|trans }}
        </label>
        <input type="password" name="password" id="password" value=""
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="password_confirm" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Confirm Password'|trans }}
        </label>
        <input type="password" name="password_confirm" id="password_confirm" value=""
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>


</div>

<hr class="my-6">

<h3 class="sm:col-span-2 sm:mb-0 text-xl font-bold text-gray-900 dark:text-white">
    {{ 'Personal Data'|trans }}
</h3>
<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 mt-4 " x-data="{ tipo_utente: '{{ utente.getAnagrafica().getTipoUtente() }}' }">
    <!-- Tipo utente: persona fisica o società -->
    <div class="mb-4">
        <label for="tipo_utente" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'User Type'|trans }}
        </label>

        <select name="tipo_utente" id="tipo_utente"
                x-model="tipo_utente"
                @change="tipo_utente = $event.target.value; if(tipo_utente == 'Persona') { document.getElementById('nome').value = ''; document.getElementById('cognome').value = ''; document.getElementById('denominazione').value = ''; } else { document.getElementById('nome').value = ''; document.getElementById('cognome').value = ''; document.getElementById('denominazione').value = ''; }"
                x-init="tipo_utente = {% if utente is not null %}'{{ utente.getAnagrafica().getTipoUtente() }}'{% else %}'Persona'{% endif %}"

                class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
            <option value="Persona" {% if utente.getAnagrafica().getTipoUtente() == 'Persona' %}selected{% endif %}>
                {{ 'Person'|trans }}
            </option>
            <option value="Azienda" {% if utente.getAnagrafica().getTipoUtente() == 'Azienda' %}selected{% endif %}>
                {{ 'Company'|trans }}
            </option>
        </select>
    </div>



    <!--- Nome, Cognome, Indirizzo, Cap, città, provincia, telefono, cellulare, pec, codice_fiscale, partita_iva, note -->
    <div class="mb-4" x-show="tipo_utente == 'Persona'">
        <label for="nome" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Name'|trans }}
        </label>
        <input type="text"

               name="nome" id="nome" value="{{ utente.getAnagrafica().getNome() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div >

    <div class="mb-4" x-show="tipo_utente == 'Persona'">
        <label for="cognome" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Surname'|trans }}
        </label>
        <input type="text" name="cognome" id="cognome" value="{{ utente.getAnagrafica().getCognome() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4" x-show="tipo_utente == 'Azienda'">
        <label for="denominazione" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Company Name'|trans }}
        </label>
        <input type="text" name="denominazione" id="denominazione" value="{{ utente.getAnagrafica().getDenominazione() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="indirizzo" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Address'|trans }}
        </label>
        <input type="text" name="indirizzo" id="indirizzo" value="{{ utente.getAnagrafica().getIndirizzo() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="cap" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Postal Code'|trans }}
        </label>
        <input
                type="text"
                pattern="[0-9]{5}"
                maxlength="5"
                name="cap" id="cap" value="{{ utente.getAnagrafica().getCap() }}"
                class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="citta" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'City'|trans }}
        </label>
        <input type="text" name="citta" id="citta" value="{{ utente.getAnagrafica().getCitta() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="provincia" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Province'|trans }}
        </label>
        <input type="text" name="provincia" id="provincia" value="{{ utente.getAnagrafica().getProvincia() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="telefono" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Phone'|trans }}
        </label>
        <input type="text" name="telefono" id="telefono" value="{{ utente.getAnagrafica().getTelefono() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="cellulare" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Mobile'|trans }}
        </label>
        <input type="text" name="cellulare" id="cellulare" value="{{ utente.getAnagrafica().getCellulare() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4">
        <label for="pec" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Certified Email'|trans }}
        </label>
        <input type="text" name="pec" id="pec" value="{{ utente.getAnagrafica().getPec() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">
    </div>

    <div class="mb-4" x-show="tipo_utente == 'Persona'">
        <label for="codice_fiscale" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Tax Code'|trans }}
        </label>
        <input type="text" name="codice_fiscale" id="codice_fiscale" value="{{ utente.getAnagrafica().getCodiceFiscale() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none" >
    </div>

    <div class="mb-4" x-show="tipo_utente == 'Azienda'">
        <label for="partita_iva" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'VAT Number'|trans }}
        </label>
        <input type="text" name="partita_iva" id="partita_iva" value="{{ utente.getAnagrafica().getPartitaIva() }}"
               class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none" >
    </div>

    <div class="mb-4">
        <label for="gruppi" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Groups'|trans }}
        </label>

        <select class="select2" name="gruppi[]" multiple="multiple">
            {% for gruppo in gruppi %}
                <option
                        {% if gruppo is defined %}
                            {% if gruppo.getId() in utente.getGruppi() | json_encode() %}
                                selected
                            {% endif %}
                        {% endif %}
                        value="{{ gruppo.getId() }}">
                    {{ gruppo.getNome() }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4 sm:col-span-2">
        <label for="note" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            {{ 'Note'|trans }}
        </label>
        <textarea name="note" id="note" rows="4"
                  class="block w-full px-4 py-2 border rounded-lg text-gray-900 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 focus:outline-none">{{ utente.getAnagrafica().getNote() }}</textarea>
    </div>

</div>

{% if hasPratiche %}
<hr class="my-8">
    <p class=" text-xl font-bold mb-4 mt-8">
        {{ 'Practices associated with the user'|trans }}
    </p>
<div class="overflow-x-auto">
    {% include 'table.html.twig' with {'headers': headers, 'rows': rows} %}
</div>

{% endif %}


<div class="fixed right-6 bottom-6 group ">
    <button type="submit"  class="submit">
        {{ button_label|trans }}
    </button>
</div>