<tr class="border-b dark:border-gray-700">
    <td class="w-4 p-4">
        <div class="flex items-center">
            <input data-id="{{ utente.id }}" id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
    </td>
    <th scope="row"
        class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ utente.id }}
    </th>
    <th scope="row"
        class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ utente.email }}
    </th>
    <td class="px-4 py-3">
        <span class="px-2 py-1 font-semibold leading-tight">
            {{ utente.ruolo }}
        </span>
    </td>


    <td class="px-4 py-3 flex items-center justify-end">

        <button id="user-{{ utente.id }}-dropdown-button"
                data-dropdown-toggle="user-{{ utente.id }}-dropdown"
                class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                type="button">
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
        </button>
        <div id="user-{{ utente.id }}-dropdown"
             class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="user-{{ utente.id }}-dropdown-button">
                <li>
                    <a data-modal-target="defaultModal" data-modal-toggle="defaultModal" href="#"
                       class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Show</a>
                </li>
                <li>
                    <a href="#"
                       data-modal-target="updateUserModal"
                       data-modal-toggle="updateUserModal"
                       data-modal-data='{
                            "id": "{{ utente.id }}",
                            "email": "{{ utente.email }}",
                            "role": "{{ utente.ruolo }}"
                        }'

                       class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
            </ul>
            <div class="py-1">
                <a
                        href="#"
                        {% if utente.id != session.utente.id %}
                        data-modal-target="deleteUserModal"
                        data-modal-toggle="deleteUserModal"
                        data-modal-data='{"id": "{{ utente.id }}"}'
                        {% endif %}
                   class="
                   {% if utente.id == session.utente.id %}
                     cursor-not-allowed
                     opacity-20
                   {% endif %}
                   block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
            </div>
        </div>
    </td>
</tr>
