<div class="grid sm:grid-cols-3 md:gap-24">
    <div class="grid sm:col-span-2 sm:grid-cols-2 gap-4 sm:gap-6">
        {% for key,field in form %}
            <div {% if loop.last and loop.length is odd %}class="sm:col-span-2"{% endif %}>
                <label for="{{ key }}">
                    {{ key }}
                </label>
                {% if field.type == 'select' %}
                    <select name="{{ key }}" id="{{ key }}">
                        {% for option in field.options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="{{ field.type }}"
                           name="{{ key }}"
                           id="{{ key }}"
                           value=""
                           placeholder="{{ 'Type ' ~ key|trans }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>