<div class="grid sm:grid-cols-3 md:gap-24">
    <div class="grid sm:col-span-2 sm:grid-cols-2 gap-4 sm:gap-6">

        <!-- Testo: Nome pratica -->
        <div>
            <label for="nome">
                {{ 'Name'|trans }}
            </label>
            <input type="text"
                   name="nome"
                   id="nome"
                   value="{{ pratica.getNome() }}"
                   placeholder="{{ 'Type practice name'|trans }}">
        </div>
        <!-- Testo: Tipologia -->
        <div>
            <label for="tipologia">
                {{ 'Typology'|trans }}
            </label>
            <input type="text"
                   name="tipologia"
                   id="tipologia"
                   value="{{ pratica.getTipologia() }}"
                   placeholder="{{ 'Type typology'|trans }}">
        </div>

        <!-- Testo: Avvocato -->
        <div>
            <label for="avvocato">
                {{ 'Lawyer'|trans }}
            </label>
            <input type="text"
                   name="avvocato"
                   id="avvocato"
                   value="{{ pratica.getAvvocato() }}"
                   placeholder="{{ 'Type lawyer name'|trans }}">
        </div>
        <!-- Testo: Referente -->
        <div>
            <label for="referente">
                {{ 'Referent'|trans }}
            </label>
            <input type="text"
                   name="referente"
                   id="referente"
                   value="{{ pratica.getReferente() }}"
                   placeholder="{{ 'Type referent name'|trans }}">
        </div>
        <!-- Testo: Competenza -->
        <div>
            <label for="competenza">
                {{ 'Competence'|trans }}
            </label>
            <input
                    type="text"
                    name="competenza"
                    id="competenza"
                    value="{{ pratica.getCompetenza() }}"
                    placeholder="{{ 'Type competence'|trans }}">
        </div>
        <!-- Testo: Ruolo generale -->
        <div>
            <label for="ruolo_generale">
                {{ 'General role'|trans }}
            </label>
            <input type="text"
                   name="ruolo_generale"
                   id="ruolo_generale"
                   value="{{ pratica.getRuoloGenerale() }}"
                   placeholder="{{ 'Type general role'|trans }}"
            >
        </div>
        <!-- Testo: Giudice -->
        <div>
            <label for="giudice">
                {{ 'Judge'|trans }}
            </label>
            <input type="text" name="giudice" id="giudice" value="{{ pratica.getGiudice() }}"
                   placeholder="{{ 'Type judge name'|trans }}">
        </div>


        <div>

            <label for="assistiti" class="flex items-center justify-between">
                {{ 'Assisted'|trans }}

                <a href="#"
                   id="add-assistito"
                   class="text-blue-500 flex items-center">
                    <ion-icon name="add-outline"></ion-icon>
                    {{ 'Add assisted'|trans }}
                </a>
            </label>

            <select class="select2" name="assistiti[]" multiple="multiple">
                {% for utente in assistiti %}
                    <option
                            {% if pratica is defined %}
                                {% if utente.getId() in pratica.getAssistiti() | json_encode() %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{ utente.getId() }}">
                        {{ utente.getAnagrafica().nome }} {{ utente.getAnagrafica().cognome }}
                        - {{ utente.getAnagrafica().getTipoUtente() }}
                    </option>
                {% endfor %}
            </select>

        </div>


        <div>

            <label for="controparti" class="flex items-center justify-between">
                {{ 'Counterparties'|trans }}

                <a href="#"
                   id="add-controparte"
                   class="text-blue-500 flex items-center">
                    <ion-icon name="add-outline"></ion-icon>
                    {{ 'Add counterparty'|trans }}
                </a>
            </label>
            <select class="select2" name="controparti[]" multiple="multiple">
                {% for utente in controparti %}

                    <option
                            {% if pratica is defined %}
                                {% if utente.getId() in pratica.getControparti() | json_encode() %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{ utente.getId() }}">
                        {{ utente.getAnagrafica().nome }} {{ utente.getAnagrafica().cognome }}
                        - {{ utente.getAnagrafica().getTipoUtente() }}
                    </option>
                {% endfor %}
            </select>

        </div>


        <div
                {% if pratica.getScadenze() is not empty %}
                    x-data="{ scadenze: {{ pratica.getScadenze() | json_encode }} }"
                {% else %}
                    x-data="{ scadenze: [] }"
                {% endif %}

                class="bg-gray-50 dark:bg-gray-800 p-8 w-full sm:col-span-2  rounded">
            <label>
                {{ 'Deadlines'|trans }}
            </label>
            <template x-for="(scadenza, index) in scadenze" :key="index">
                <div class="flex mt-2 w-full gap-2">
                    <!-- select -->
                    <input datepicker
                           x-model="scadenza.data"
                           type="date"
                           placeholder="Select date"
                           :name="'scadenze['+index+'][data]'"
                           :id="'scadenza_data_'+index">
                    <input x-model="scadenza.motivo"
                           type="text"
                           :name="'scadenze['+index+'][motivo]'" :id="'scadenza_motivo_'+index"
                           placeholder="{{ 'Type deadline reason'|trans }}">
                    <button type="button" x-on:click="scadenze.splice(index, 1)"
                            class="text-white bg-red-500 px-2 py-1 rounded flex items-center">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </div>
            </template>

            <button x-on:click="scadenze.push({ data: '', motivo: '' }); initDatePicker()"
                    class="text-blue-500 flex items-center mt-4" type="button">
                <ion-icon name="add-outline"></ion-icon>
                {{ 'Add deadline'|trans }}
            </button>
        </div>


        <div
                {% if pratica.getUdienze() is not empty %}
                    x-data="{ udienze: {{ pratica.getUdienze() | json_encode }} }"
                    x-init="initDatePicker()"
                {% else %}
                    x-data="{ udienze: [] }"

                {% endif %}
                class="bg-gray-50 dark:bg-gray-800 p-8 w-full sm:col-span-2  rounded">
            <label>
                {{ 'Hearings'|trans }}
            </label>
            <template x-for="(udienza, index) in udienze" :key="index">
                <div class="flex mt-2 w-full gap-2">
                    <!-- select -->

                    <input datepicker
                           x-model="udienza.data"
                           type="date"
                           placeholder="Select date"
                           :name="'udienze['+index+'][data]'"
                           :id="'udienza_data_'+index">

                    <input x-model="udienza.descrizione"
                           :name="'udienze['+index+'][descrizione]'" :id="'udienza_descrizione_'+index"
                           type="text" placeholder="{{ 'Type hearing reason'|trans }}">


                    <button type="button" x-on:click="udienze.splice(index, 1)"
                            class="text-white bg-red-500 px-2 py-1 rounded flex items-center">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </div>
            </template>
            <button x-on:click="udienze.push({ descrizione: '', data: '' }); initDatePicker()"
                    class="text-blue-500 flex items-center mt-4" type="button">
                <ion-icon name="add-outline"></ion-icon>
                {{ 'Add hearing'|trans }}
            </button>
        </div>


        <div
                x-data="{
    notes: {% if pratica.getNote() is null %}[]{% else %}{{ pratica.getNote() | json_encode }}{% endif %},
    isOpen: [],
    dragging: null,
    dragAndDrop(index) {
        const draggedNote = this.notes[this.dragging];
        this.notes.splice(this.dragging, 1);
        this.notes.splice(index, 0, draggedNote);
    }
}"
                class="bg-gray-50 dark:bg-gray-800 p-8 w-full sm:col-span-2  rounded">
            <label>
                {{ 'Notes'|trans }}
            </label>
            <template x-for="(note, index) in notes" :key="index">
                <div class="mt-4" x-ref="noteContainer" :class="{ 'dragging': dragging === index }">
                    <div class="border rounded-lg p-4"
                         :class="{ 'cursor-move': dragging !== null }"
                         draggable="true"
                         @dragstart="dragging = index"
                         @dragend="dragging = null"
                         @dragover.prevent
                         @drop="dragAndDrop(index)"
                    >
                        <div class="flex justify-between items-center">
                            <button type="button" @click="isOpen[index] = !isOpen[index]"
                                    class="flex items-center text-blue-500">
                                <svg x-bind:class="{'transform rotate-180': isOpen[index]}"
                                     class="w-4 h-4 mr-2 text-gray-700 dark:text-gray-300"
                                     fill="currentColor" viewBox="0 0 20 20">
                                    <path x-show="!isOpen[index]" fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M6 8.586L10 12.586L14 8.586L15.414 10L10 15.414L4.586 10L6 8.586Z"/>
                                    <path x-show="isOpen[index]" fill-rule="evenodd" clip-rule="evenodd"
                                          d="M14 11.414L10 15.414L6 11.414L4.586 13L10 18.414L15.414 13L14 11.414Z"/>
                                </svg>
                                <ion-icon name="globe-outline" class="text-gray-500 dark:text-gray-400"
                                          x-show="note.visibilita == 'pubblica'"></ion-icon>
                                <ion-icon name="lock-closed-outline" class="text-gray-500 dark:text-gray-400"
                                          x-show="note.visibilita == 'privata'"></ion-icon>
                                <span class="font-medium text-gray-900 dark:text-white ml-2"
                                      x-text="(note.tipologia == 'registro_contabile') ? 'Registro Contabile' : 'Annotazioni'"></span>
                                <span
                                        class="text-gray-500 dark:text-gray-400">-
                                    <span x-text="(note.visibilita == 'pubblica') ? 'Pubblica ' : 'Privata '"></span>
                                    <!-- if pubblica show icon for pubblica , else icon for privata -->
                                    </span>

                                <span class="text-gray-500 dark:text-gray-400">- {{ 'Created'|trans }} {{ note.created_at|date('d/m/Y') }}

                                </span>
                            </button>
                            <button type="button" @click="notes.splice(index, 1)"
                                    class="text-red-500 ml-2">
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </div>
                        <div x-show="isOpen[index]" class="mt-4">
                            <div>
                                <label :for="'tipologia_nota_' + index"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    {{ 'Note Type'|trans }}
                                </label>
                                <select x-model="note.tipologia"
                                        :id="'tipologia_' + index"
                                        :name="'note['+index+'][tipologia]'"
                                        class="w-full">
                                    <option value="registro_contabile">
                                        {{ 'Accounting Register'|trans }}
                                    </option>
                                    <option value="annotazioni">
                                        {{ 'Annotations'|trans }}
                                    </option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <label :for="'nota_' + index"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    {{ 'Note'|trans }}
                                </label>
                                <textarea x-model="note.descrizione"
                                          :id="'nota_' + index" rows="4"
                                          :name="'note['+index+'][descrizione]'"
                                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          placeholder="{{ 'Note'|trans }}"
                                          x-text="note.descrizione"
                                >

                                </textarea>
                            </div>
                            <div class="mt-2">
                                <label :for="'visibilita_' + index"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    {{ 'Visibility'|trans }}
                                </label>

                                <select x-model="note.visibilita"
                                        :name="'note['+index+'][visibilita]'"
                                        :id="'visibilita_' + index"
                                        class="w-full">
                                    <option value="pubblica" :selected="note.visibilita === 'pubblica'">
                                        {{ 'Public'|trans }}
                                    </option>
                                    <option value="privata" :selected="note.visibilita === 'privata'">
                                        {{ 'Private'|trans }}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </template>
            <button type="button"
                    @click="notes.push({ tipologia_nota: 'regitro_contabile', nota: '', visibilita: 'privata' }); isOpen.push(true)"
                    class="text-blue-500 flex items-center mt-4">
                <ion-icon name="add-outline"></ion-icon>
                {{ 'Add Note'|trans }}</button>
        </div>

    </div>

    <div class="flex flex-col gap-4 sm:gap-6">

        <!-- Select: Stato -->
        <div>
            <label for="stato">
                {{ 'Status'|trans }}
            </label>
            <select id="stato" name="stato">
                <option selected="" disabled>{{ 'Select a status'|trans }}</option>
                <option
                        {% if pratica.getStato() == 'aperta' %}
                            selected
                        {% endif %}
                        value="aperta">
                    {{ 'Open'|trans }}
                </option>
                <option
                        {% if pratica.getStato() == 'chiusa' %}
                            selected
                        {% endif %}
                        value="chiusa">
                    {{ 'Closed'|trans }}
                </option>
                <option
                        {% if pratica.getStato() == 'sospesa' %}
                            selected
                        {% endif %}
                        value="sospesa">
                    {{ 'Suspended'|trans }}
                </option>
            </select>
        </div>

        <!-- Multi Select: Assegna gruppo -->
        <div>
            <label for="id_gruppo">
                {{ 'Assign group'|trans }}
            </label>

            <select id="id_gruppo" name="id_gruppo" required="" class="select2">
                <option selected="" value="" disabled>{{ 'Select a group'|trans }}</option>
                {% for gruppo in gruppi %}
                    <option
                            {% if pratica.getIdGruppo() is same as gruppo.id %}
                                selected
                            {% endif %}
                            value="{{ gruppo.id }}">{{ gruppo.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="sm:col-span-2 text-right">

            <div class="fixed right-6 bottom-6 group">
                <button type="submit" class="submit">
                    <!-- Save icon -->
                    {{ button_label | default('Save') | trans }}
                </button>
            </div>

        </div>

    </div>
</div>

<div id="modalAddUtente" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{ 'Add new user'|trans }}
                </h3>
                <button type="button"
                        class="close-modal text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white ">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->

            <div class="p-6 space-y-6" x-data="{
            tipo_utente: 'Persona',
            UtenteRuolo: 'Cliente',
            UtenteNome: '',
            UtenteCognome: '',
            UtenteDenominazione: '',
            }">
                    <!-- ruolo, tipo utente, nome, cognome, denominazione -->
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        <input type="hidden"
                               id="entity"
                               name="entity"
                               x-model="UtenteRuolo"
                               value="Cliente">
                        <div>
                            <label for="tipo_utente"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                {{ 'User type'|trans }}
                            </label>
                            <select
                                    name="tipo_utente"
                                    id="tipo_utente"
                                    class="w-full"
                                    x-model="tipo_utente"
                                    x-init="tipo_utente = 'Persona'"
                                    @change="if(tipo_utente == 'Persona') { denominazione = ''; } else { nome = ''; cognome = ''; }"
                            >
                                <option value="Persona" selected>{{ 'Person'|trans }}</option>
                                <option value="Azienda">{{ 'Company'|trans }}</option>
                            </select>
                        </div>
                        <div x-show="tipo_utente == 'Persona'">
                            <label for="UtenteNome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                {{ 'Name'|trans }}
                            </label>
                            <input type="text"
                                   name="UtenteNome"
                                   id="UtenteNome"
                                   x-model="UtenteNome"
                                   class="w-full">
                        </div>
                        <div x-show="tipo_utente == 'Persona'">
                            <label for="UtenteCognome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                {{ 'Surname'|trans }}
                            </label>
                            <input
                                    x-model="UtenteCognome"
                                    type="text"
                                    name="UtenteCognome"
                                    id="UtenteCognome" class="w-full">
                        </div>
                        <div x-show="tipo_utente == 'Azienda'" class="">
                            <label for="UtenteDenominazione"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                {{ 'Company name'|trans }}
                            </label>
                            <input
                                    x-model="UtenteDenominazione"
                                    type="text" name="UtenteDenominazione" id="UtenteDenominazione" class="w-full">
                        </div>
                    </div>
                </div>

            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button id="save-modal" type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    {{ 'Save'|trans }}
                </button>
                <button type="button"
                        class="close-modal text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    {{ 'Cancel'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

