{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Edit practice'|trans }}
{% endblock %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto w-full">

            <div class=" flex justify-between w-full items-center mb-6">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                    {{ 'Edit practice'|trans }}
                </h2>
            </div>


            <form action="{{ url('pratiche/edit') }} " method="post" class="w-full">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('crea-pratica') }}">
                <input type="hidden" name="id_pratica" value="{{ id_pratica }}">

                {% include 'pratiche/_form.html.twig' with {'pratica': pratica, 'button_label': 'Update'} %}

            </form>


        </div>
    </section>
{% endblock %}

