{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="mx-auto w-full">
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">
                        <form class="flex items-center">
                            <label for="simple-search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                         fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </div>
                                <input type="text" id="simple-search"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                       placeholder="Search" required="">
                            </div>
                        </form>
                    </div>
                    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">

                        <form action="{{ url('admin/users/export') }}" method="POST">

                            <input type="hidden" name="csrf_token" value="{{ csrf_token('export') }}">
                            <input type="hidden" name="format" value="csv">

                            <button type="submit"
                                    data-modal-target=""
                                    data-modal-toggle=""
                                    class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <ion-icon name="cloud-download-outline" class="-ml-1 mr-1.5 w-5 h-5"></ion-icon>
                                Download CSV
                            </button>
                        </form>

                        <a href="{{ url('pratiche/crea') }}"
                                class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                      d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"/>
                            </svg>
                            {{ 'Add new Practice'|trans }}
                        </a>

                        <div class="flex items-center space-x-3 w-full md:w-auto">
                            <button id="actionsDropdownButton" data-dropdown-toggle="actionsDropdown"
                                    class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                    type="button">
                                <svg class="-ml-1 mr-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd"
                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
                                </svg>
                                Actions
                            </button>
                            <div id="actionsDropdown"
                                 class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">

                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="actionsDropdownButton">
                                    <li>
                                        <form action="{{ url('admin/users/activate') }}" method="POST" class="">
                                            <input type="hidden" name="csrf_token"
                                                   value="{{ csrf_token('bulk-activate-users') }}">
                                            <input type="hidden" name="users" id="bulk-activate-users" value="">

                                            <button type="submit"
                                                    id="bulk-activate-users-button"
                                                    class="disabled opacity-20 cursor-not-allowed inline-block w-full text-left py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                Activate
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                                <div class="py-1">


                                    <form action="{{ url('admin/users/delete') }}" method="POST" class="">
                                        <input type="hidden" name="csrf_token"
                                               value="{{ csrf_token('bulk-delete-users') }}">
                                        <input type="hidden" name="users" id="bulk-delete-users" value="">

                                        <button type="submit"
                                                id="bulk-delete-users-button"
                                                class="disabled opacity-20 cursor-not-allowed inline-block w-full text-left py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                            Delete
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="overflow-x-auto">
                    <table id="users" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">
                                <div class="flex items-center">
                                    <input id="checkbox-all-search" type="checkbox"
                                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'id', 'direction': getSortDirection('id')}) }}">
                                    Nr.
                                </a>
                            </th>
                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'username', 'direction': getSortDirection('username')}) }}">
                                    Nome

                                    {% set direction = getQueryParams('direction') %}
                                    {% set target = getQueryParams('sort') %}
                                    {% if direction == 'asc' and target == 'username' %}
                                        <ion-icon name="arrow-up-outline"></ion-icon>
                                    {% elseif direction == 'desc' and target == 'username' %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% else %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% endif %}

                                </a>
                            </th>
                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'email', 'direction': getSortDirection('email')}) }}">
                                    Stato

                                    {% set direction = getQueryParams('direction') %}
                                    {% set target = getQueryParams('sort') %}
                                    {% if direction == 'asc' and target == 'email' %}
                                        <ion-icon name="arrow-up-outline"></ion-icon>
                                    {% elseif direction == 'desc' and target == 'email' %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% else %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% endif %}

                                </a>
                            </th>
                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'status', 'direction': getSortDirection('status')}) }}">
                                    Tipologia

                                    {% set direction = getQueryParams('direction') %}
                                    {% set target = getQueryParams('sort') %}
                                    {% if direction == 'asc' and target == 'status' %}
                                        <ion-icon name="arrow-up-outline"></ion-icon>
                                    {% elseif direction == 'desc' and target == 'status' %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% else %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% endif %}
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'status', 'direction': getSortDirection('status')}) }}">
                                    Competenza

                                    {% set direction = getQueryParams('direction') %}
                                    {% set target = getQueryParams('sort') %}
                                    {% if direction == 'asc' and target == 'status' %}
                                        <ion-icon name="arrow-up-outline"></ion-icon>
                                    {% elseif direction == 'desc' and target == 'status' %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% else %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% endif %}
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'status', 'direction': getSortDirection('status')}) }}">
                                    Prossima scadenza

                                    {% set direction = getQueryParams('direction') %}
                                    {% set target = getQueryParams('sort') %}
                                    {% if direction == 'asc' and target == 'status' %}
                                        <ion-icon name="arrow-up-outline"></ion-icon>
                                    {% elseif direction == 'desc' and target == 'status' %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% else %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% endif %}
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3">
                                <a href="{{ url('users', {'sort': 'status', 'direction': getSortDirection('status')}) }}">
                                    Ruolo

                                    {% set direction = getQueryParams('direction') %}
                                    {% set target = getQueryParams('sort') %}
                                    {% if direction == 'asc' and target == 'status' %}
                                        <ion-icon name="arrow-up-outline"></ion-icon>
                                    {% elseif direction == 'desc' and target == 'status' %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% else %}
                                        <ion-icon name="arrow-down-outline"></ion-icon>
                                    {% endif %}
                                </a>
                            </th>


                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Azione</span>

                            </th>


                        </tr>
                        </thead>
                        <tbody>

                            {% for pratica in pratiche %}

                                {% include 'praticaRow.html.twig' %}

                            {% endfor %}

                        </tbody>
                    </table>
                </div>


                {% include 'pagination.html.twig' %}

            </div>
        </div>
    </section>


{% endblock %}