<tr class="border-b dark:border-gray-700">

    <td class="w-4 p-4">
        <div class="flex items-center">
            <input data-id="{{ pratica.getId() }}" id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
    </td>

    <th scope="row"
        class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ pratica.getId() }}
    </th>

    <th scope="row"
        class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ pratica.getNome() }}
    </th>

    <td class="px-4 py-3">
        {{ pratica.getTipologia() }}
    </td>

    <td class="px-4 py-3">
        {{ pratica.getStato() }}
    </td>

    <td class="px-4 py-3">
        {{ pratica.getAvvocato() }}
    </td>

    <td class="px-4 py-3">
        {{ pratica.getReferente() }}
    </td>

    <td class="px-4 py-3">
        {{ pratica.getCompetenza() }}
    </td>

    <td class="px-4 py-3">
        {{ pratica.getRuoloGenerale() }}
    </td>

    <td class="px-4 py-3">
        {{ pratica.getGiudice() }}
    </td>

    <td class="px-4 py-3">
        <a href="{{ url('gruppi/edit/' ~ pratica.getGruppo().getId()) }}" class="text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500">
            {{ pratica.getGruppo().getNome() }}
        </a>
    </td>

    <td class="px-4 py-3 flex items-center justify-end">


        <a href="{{ url('/pratiche/edit/' ~ pratica.getId()) }}"
           class="text-xl text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500">
            <ion-icon name="create-outline"></ion-icon>
        </a>

        <a href="{{ url('/pratiche/delete/' ~ pratica.getId()) }}"
           class="text-xl text-red-600 hover:text-red-700 dark:text-red-400 dark:hover:text-red-500">
            <ion-icon name="trash-outline"></ion-icon>
        </a>

    </td>
</tr>
