<aside
        class="fixed top-0 left-0 z-40 w-48 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidenav"
        id="drawer-navigation"
>
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">

        {% if session.utente %}

            <!-- {% include ('search.html.twig') with { 'class': 'md:hidden mb-2' } %}-->

            <ul class="space-y-2">


                {% if session.utente.id_ruolo in ['5'] %}
                <li>
                    <a href="{{ url('/mie_pratiche') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="document-text"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">
                            {{ 'Practices'|trans }}
                        </span>
                    </a>
                </li>

                {% endif %}

                {% if session.utente.id_ruolo in ['1'] %}


                    <li>
                        <a href="{{ navigationUrl('/') }}"
                           class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <!-- overview icon -->
                            <ion-icon name="stats-chart"
                                      class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>

                            <span class="ml-3">
                            {{ 'Overview'|trans }}
                        </span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url('/pratiche') }}"
                           class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <ion-icon name="document-text"
                                      class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                            <span class="ml-3">
                            {{ 'Practices'|trans }}
                        </span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ navigationUrl('/assistiti') }}"
                           class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <ion-icon name="person"
                                      class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                            <span class="ml-3">
                            {{ 'Assisted'|trans }}
                        </span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ navigationUrl('/controparti') }}"
                           class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <ion-icon name="people"
                                      class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                            <span class="ml-3">
                            {{ 'Counterparties'|trans }}
                        </span>
                        </a>
                    </li>




                <li>
                    <a href="{{ navigationUrl('/gruppi') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="people"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">
                            {{ 'Groups'|trans }}
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{{ navigationUrl('/utenti') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="people"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">
                            {{ 'Users'|trans }}
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{{ navigationUrl('/impostazioni') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="settings"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">
                            {{ 'Settings'|trans }}
                        </span>
                    </a>
                </li>

                {% endif %}

            </ul>

        {% endif %}



    </div>

    <div class="hidden absolute bottom-0 left-0 justify-center p-4 w-full lg:flex bg-white dark:bg-gray-800 z-20">
        <button
                type="button"
                data-dropdown-toggle="language-dropdown"
                class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:hover:text-white dark:text-gray-400 hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600"
        >
            <span class="sr-only">
                {{ 'Change language'|trans }}
            </span>

            <!-- add html code for italy flag -->

            <div class="w-5 h-5 mr-1">
                <!-- session.language or 'it' -->
                {% if (session.language) %}
                    {{ svg(session.language) | raw }}
                {% else %}
                    {{ svg('it') | raw }}
                {% endif %}
            </div>


            <ion-icon name="chevron-down-outline" class="w-5 h-5 ml-1"></ion-icon>

        </button>
        <!-- Dropdown -->

        <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
             id="language-dropdown">
            <ul class="py-1" role="none">
                {% for lang in availableLanguages %}
                    <li>
                        <a
                                href="{{ url('set_language', {'_locale': lang}) }}"
                                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:text-white dark:text-gray-300 dark:hover:bg-gray-600"
                                role="menuitem"
                        >
                            <div class="inline-flex items-center">
                                <div class="w-5 h-5 mr-2">
                                    {{ svg(lang) | raw }}
                                </div>


                                {{ lang|trans }}


                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


</aside>