<aside
        class="fixed top-0 left-0 z-40 w-48 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidenav"
        id="drawer-navigation"
>
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">

        {% if session.utente %}
            <!-- {% include ('search.html.twig') with { 'class': 'md:hidden mb-2' } %}-->

            <ul class="space-y-2">
                <li>
                    <a href="{{ url('/') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <!-- overview icon -->
                        <ion-icon name="stats-chart"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>

                        <span class="ml-3">Overview</span>
                    </a>
                </li>


                <li>
                    <a href="{{ url('/assistiti') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="person"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">Assistiti</span>
                    </a>
                </li>


                <li>
                    <a href="{{ url('/controparti') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="people"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">Controparti</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url('/pratiche') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="document-text"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">Pratiche</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url('/gruppi') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="people"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">Gruppi</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url('/utenti') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="people"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">Utenti</span>
                    </a>
                </li>


                <li>
                    <a href="{{ url('/impostazioni') }}"
                       class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <ion-icon name="settings"
                                  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
                        <span class="ml-3">Impostazioni</span>
                    </a>
                </li>


            </ul>

        {% endif %}

        {% if session.utente is null %}
            <div class="flex flex-col items-center justify-center h-full">
                <div class="flex flex-col items-center justify-center mt-8">

                    <a href="{{ url('sign-in') }}"
                       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Login
                    </a>

                    <a href="{{ url('sign-up') }}"
                       class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        Register
                    </a>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="hidden absolute bottom-0 left-0 justify-center p-4 w-full lg:flex bg-white dark:bg-gray-800 z-20">
        <div
                id="tooltip-settings"
                role="tooltip"
                class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip"
        >
            {% trans %}settings_page{% endtrans %}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button
                type="button"
                data-dropdown-toggle="language-dropdown"
                class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:hover:text-white dark:text-gray-400 hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600"
        >
            <span class="sr-only">Select language</span>

            <!-- add html code for italy flag -->

            <div class="w-5 h-5 mr-1">
                <!-- session.language or 'it' -->
                {% if (session.language) %}
                    {{ svg(session.language) | raw }}
                {% else %}
                    {{ svg('it') | raw }}
                {% endif %}
            </div>


            <ion-icon name="chevron-down-outline" class="w-5 h-5 ml-1"></ion-icon>

        </button>
        <!-- Dropdown -->
        <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
             id="language-dropdown">
            <ul class="py-1" role="none">
                {% for lang in availableLanguages %}
                    <li>
                        <a
                                href="{{ url('set_language', {'_locale': lang}) }}"
                                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:text-white dark:text-gray-300 dark:hover:bg-gray-600"
                                role="menuitem"
                        >
                            <div class="inline-flex items-center">
                                <div class="w-5 h-5 mr-2">
                                    {{ svg(lang) | raw }}
                                </div>


                                {{ lang|trans }}


                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


</aside>