{% extends 'base.html.twig' %}

{% block content %}

    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-full lg:py-0">
            <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
                <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {{ 'Forgot your password?' | trans }}
                </h1>
                <p class="font-light text-gray-500 dark:text-gray-400">
                    {{ 'Type in your email and we will send you a code to reset your password!' | trans }}
                </p>
                <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="{{ url('forgot-password') }}" method="post">

                    <div>
                        <label for="email" class="{{ getLabelClass() }}">
                            {{ 'Email address' | trans }}
                        </label>
                        <input type="email" name="email" id="email"
                               class="{{ getInputClass() }} }}"
                               placeholder="name@company.com" required="">
                    </div>

                    <button type="submit"
                            class="{{ getSubmitClass() }}">
                        {{ 'Send password reset link'| trans }}
                    </button>
                </form>
            </div>
        </div>

{% endblock %}