{% extends 'base.html.twig' %}



{% block content %}

    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-full lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {{ 'Sign In to Your Account'|trans }}
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="{{ url('/sign-in') }}" method="post">

                        <div>
                            <label for="username-or-email" class="{{ getLabelClass() }}">
                                {{ 'Username or Email'|trans }}
                            </label>
                            <input type="text" name="username-or-email" id="username-or-email"
                                   class="{{ getInputClass() }}
                                   placeholder="{{ 'Insert your username or email' | trans }}" required="">
                        </div>
                        <div>
                            <label for="password" class="{{ getLabelClass() }}">
                                {{ 'Password'|trans }}
                            </label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                   class="{{ getInputClass() }}"
                                   required="">
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" name="remember" aria-describedby="remember" type="checkbox"
                                           class="{{ getCheckboxClass() }}"
                                           >
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="{{ getLabelClass() }}">{{ 'Remember me'|trans }}</label>
                                </div>
                            </div>
                            <a href="{{ url('forgot-password') }}"
                               class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">{{ 'Forgot your password?'|trans }}
                            </a>
                        </div>
                        <button type="submit"
                                class="{{ getSubmitClass() }}">
                            {{ 'Sign In'|trans }}
                        </button>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token('signin') }}">
                        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
                    </form>
                </div>
            </div>
        </div>

{% endblock %}