<div class="">
    <div class="mb-4">
        <label for="nome_gruppo" class="{{ getLabelClass() }}">
            {{ 'Name'|trans }}
        </label>
        <input type="text"
               name="nome_gruppo"
               id="nome_gruppo"
               class="{{ getInputClass() }}"
               placeholder="{{ 'Name'|trans }}"
               value="{{ gruppo.getNome() }}"
               required>
    </div>


    <!-- table for showing members -->

    <div class="mb-4">
        <!-- input for email address with icon -->
        <div class="mb-4">
            <!-- use select2 for loading users -->
            <label for="utenti" class="{{ getLabelClass() }}">
                {{ 'Add users'|trans }}
            </label>

            <select class="{{ getInputClass() }} select2" name="utenti[]" multiple="multiple">
                {% for utente in utenti %}
                    <option
                            {% if gruppo is defined %}
                                {% if utente.getId() in gruppo.getUtenti() | json_encode() %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{ utente.getId() }}">
                        {{ utente.getAnagrafica().nome }} {{ utente.getAnagrafica().cognome }} {{ utente.getAnagrafica().getDenominazione() }}
                        - {{ utente.getRuoloObj().nome }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="pratiche" class="{{ getLabelClass() }}">
                {{ 'Practices' | trans }}
            </label>

            <select class="{{ getInputClass()  }} select2" name="pratiche[]" multiple="multiple">
                {% for pratica in pratiche %}
                    <option
                            {% if gruppo is defined %}
                                {% if pratica.getId() in gruppo.getPratiche()  %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{ pratica.getId() }}">
                        {{ pratica.getNome() }}
                    </option>
                {% endfor %}
            </select>
        </div>


    </div>


</div>


<div class="fixed right-6 bottom-6 group ">
    <button type="submit" class="{{ getSubmitClass() }}">
        {{ button_label|trans }}
    </button>
</div>