<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
    <div class="">
        <label for="nome_gruppo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            {{ 'Name'|trans }}
        </label>
        <input type="text"
               name="nome_gruppo"
               id="nome_gruppo"
               class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="{{ 'Name'|trans }}"
               value="{{ gruppo.getNome() }}"
               required>
    </div>


    <!-- table for showing members -->

    <div    x-data="searchResults"
            data-selectedItems="{{ gruppo.getUtenti() | json_encode() }}"
            data-entity="utenti"
            data-idGruppo="{{ gruppo.getId() }}"
            class="relative overflow-x-auto shadow-md sm:rounded-lg sm:col-span-2 p-2.5 bg-white">
        <div class="">
            <!-- column for sending invite members -->
            <label for="utenti" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{ 'Add members'|trans }}
            </label>


            <!-- input for email address with icon -->
            <div class="relative">
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 items-center">
                    <input type="text"
                           x-model="query"
                           @input="performSearch"
                           @click="performSearch"
                           name="utenti"
                           id="utenti"
                           class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="{{ 'Name or Surname or Email'|trans }}">

                    <div x-show="searchResults.length > 0" class="sm:col-span-2 mt-1">
                        <ul class="bg-white border border-gray-300 rounded-md shadow-md">
                            <template x-for="result in searchResults" :key="result.id">
                                <li @click="selectItem(result)"
                                    x-text="(result.tipo_utente === 'Persona') ? result.nome + ' ' + result.cognome + ' (' + result.tipo_utente + ')' : result.denominazione + ' (' + result.tipo_utente + ')'"
                                    class="py-2 px-4 cursor-pointer hover:bg-gray-100">
                                </li>
                            </template>
                        </ul>
                    </div>

                    <div x-show="showNoResultsMessage"
                         class="mt-1 text-gray-500 dark:text-gray-400 text-sm italic font-bold sm:col-span-2">
                        Nessun utente trovato.
                    </div>

                    <div class="add">
                        <a href="#"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline float-right">
                            {{ 'Crea nuovo utente'|trans }}
                        </a>
                    </div>

                </div>

            </div>

            <p class="my-2 text-sm text-gray-500 dark:text-gray-400">
                {{ 'Enter the name, surname or email of the user you want to add to the group.'|trans }}
            </p>

        </div>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">

            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    {{ 'Name'|trans }}
                </th>
                <th scope="col" class="px-6 py-3">
                    {{ 'Type'|trans }}
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <template x-for="user in selectedItems">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <!-- hidden input for sending invite members -->
                    <input type="hidden" name="utenti[]" :value="user.id">
                    <td
                            x-show="user.tipo_utente === 'Persona'"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            x-text="user.nome + ' ' + user.cognome "></td>

                    <td
                            x-show="user.tipo_utente === 'Azienda'"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            x-text="user.denominazione"></td>

                    <td class="px-6 py-4 text-gray-500 whitespace-nowrap dark:text-gray-400"
                        x-text="user.tipo_utente"></td>

                    <td class="px-6 py-4 text-right">
                        <a href="#"
                           @click.prevent="removeItem(user)"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            {{ 'Remove'|trans }}
                        </a>
                    </td>
                </tr>
            </template>


            </tbody>
        </table>
    </div>


</div>


<div class="fixed right-6 bottom-6 group ">
    <button type="submit" class="submit">
        {{ button_label|trans }}
    </button>
</div>