<div class="">
    <div class="mb-4">
        <label for="nome_gruppo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            {{ 'Name'|trans }}
        </label>
        <input type="text"
               name="nome_gruppo"
               id="nome_gruppo"
               class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="{{ 'Name'|trans }}"
               value="{{ gruppo.getNome() }}"
               required>
    </div>


    <!-- table for showing members -->

    <div class="mb-4">
        <!-- column for sending invite members -->
        <label for="utenti" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            {{ 'Add users'|trans }}
        </label>


        <!-- input for email address with icon -->
        <div class="mb-4">
            <!-- use select2 for loading users -->
            <label for="utenti" class="sr-only">
                {{ 'Add users'|trans }}
            </label>

            <select class="select2" name="utenti[]" multiple="multiple">
                {% for utente in utenti %}
                    <option
                            {% if gruppo is defined %}
                                {% if utente.getId() in gruppo.getUtenti() | json_encode() %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{ utente.getId() }}">
                        {{ utente.getAnagrafica().nome }} {{ utente.getAnagrafica().cognome }}
                        - {{ utente.getRuolo().nome }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label>
                {{ 'Practices' | trans }}
            </label>
            <select class="select2" name="pratiche[]" multiple="multiple">
                {% for pratica in pratiche %}
                    <option
                            {% if gruppo is defined %}
                                {% if pratica.id in gruppo.getPratiche()  %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{ pratica.id }}">
                        {{ pratica.nome }}
                    </option>
                {% endfor %}
            </select>
        </div>


    </div>


</div>


<div class="fixed right-6 bottom-6 group ">
    <button type="submit" class="submit">
        {{ button_label|trans }}
    </button>
</div>