<aside class="fixed top-0 left-0 z-40 w-48 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidenav" id="drawer-navigation">
	<div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
			<ul class="space-y-2">
				<li>
					<a href="{{ url('/disponibilita-sale') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Disponibilita Sale'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/eccezioni-sale') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Eccezioni Sale'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/log-operazioni-utente') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Log Operazioni Utente'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/notifiche') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Notifiche'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/preferenze-utente-sale') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Preferenze Utente Sale'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/prenotazioni') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Prenotazioni'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/recensioni') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Recensioni'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/relazioni-sale-risorse') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Relazioni Sale Risorse'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/risorse') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Risorse'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/sale') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Sale'|trans }}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ url('/utenti') }}"
					   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<ion-icon name="document-text"
							  class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></ion-icon>
						<span class="ml-3">
							{{ 'Utenti'|trans }}
						</span>
					</a>
				</li>
		</ul>
</div>
</aside>
